@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  font-family: 'Roboto', sans-serif !important;
  
}

h1:hover {
  color: blue;
}

body {
  background-color: rgb(255, 252, 223);
}

.App{
  text-align: center;
}

.ski-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: -10px 10px 10px -10px rgb(230, 208, 88);
}

.ski-form input[type="text"] {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 600;
}

.ski-form label {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 600;
}

.ski-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  padding-inline-start: 0;
}

.ski-item { 
  background-color: rgb(255, 255, 255);
  box-shadow: -5px 5px 5px -5px rgb(230, 208, 88);
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  /* max-height: 220px; */
  max-width: max-content;
  height: max-content;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
}

.item-description {
  text-align: left;
}

.edit-button {
  background-color: rgb(252, 252, 151);
  color: rgb(56, 133, 233);
  padding: 5px;
  border-radius: 6px;
  margin-left: 2px;
  font-weight: bold;
}

.delete-button {
  background-color: rgb(255, 164, 164);
  color: white;
  padding: 5px;
  border-radius: 6px;
  margin-right: 2px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.close-button {
  background-color: rgb(255, 164, 164);
  color: white;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

input[type="submit"]{
  padding: 10px;
  transition: .1s linear;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
}

input[type="submit"]:hover{
  color: white;
  background-color: rgb(101 191 96);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #00ff94;
}

.error-red {
  color: red;
  font-weight: bold;
  font-style: italic;
  font-family: Roboto, sans-serif;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 10px 5px -8px grey;
  font-family: Roboto, sans-serif;
}

header, footer {
  background-color: rgb(214, 253, 253);
  padding-top: 20px;
}

header {
  position: sticky;
}

.fun-box {
  background-color: red;
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .fun-box {
    background-color: green;
    height: 150px;
    width: 150px;
  }
}

.submit-login {
  margin-top: 15px;
}

.submit-login input {
  width: 100%;
}

.no-profile-query p, .sign-in-query p {
  font-family: 'Roboto', sans-serif;
}